################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp/ECNOpenAI/app.config
/csharp/ECNOpenAI/.vs/ECNOpenAI
